/* .paginationContainer {
    display: flex;
    width: 50%;
    height: 100vw;
} */

.controllerPag {
    width: 50%;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
    border: 3px solid rgb(94, 72, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(172, 139, 57);
}

.paguinar {
    font-size: 16px;
    color:rgb(6, 3, 219);
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(94, 72, 19);
}

#h2pag {
    cursor: pointer;

}

#h2pag:hover {
    transform: scale(1.05);
}